<div class="lists-item">
  <div *ngIf="!(editing$ | async); else editListName" class="list-header">
    <h3>
      {{ listName }}
    </h3>
    <button *ngIf="editable" mat-icon-button (click)="editing$.next(true)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <ng-template #editListName>
    <div class="list-header">
      <mat-form-field>
        <input matInput [(ngModel)]="listName">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon class="action-icon" (click)="onSaveListName()">save</mat-icon>
      </button>
    </div>
  </ng-template>

  <div class="card-list" [dragula]="list?.idBoard" [dragulaModel]="list.cards" [attr.data-list-id]="list.id">
    <ng-container *ngIf="(list?.cards?.length) else placeholder">
      <mat-card (click)="showCardDetail(card)" class="card-list-item" *ngFor="let card of list?.cards" [attr.data-card-id]="card.id">
        {{ card.name }}
      </mat-card>
    </ng-container>

    <ng-template #placeholder>
      <div class="dragula-placeholder-card">
      </div>
    </ng-template>
  </div>
</div>