<div class="boards-wrapper">
  <h2>All of your boards (Amount: {{ (boards$ | async)?.length }})</h2>

  <mat-list>
    <mat-list-item *ngFor="let board of boards$ | async" [routerLink]="['boards', board.id, board.name]">
      {{ board.name }}
    </mat-list-item>
  </mat-list>

  <div>
    <h2>Create a new board</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="newBoardName">
    </mat-form-field>
    <button
      mat-raised-button
      type="button"
      (click)="createBoard()"
      [disabled]="!newBoardName"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
