<!--The content below is only a placeholder and can be replaced.-->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://api.trello.com/1/client.js?key=01894f613e5bb1a36bf29666a606f880"></script>


<div>
  <app-menu></app-menu>
</div>

<div class="boards-wrapper">
  <h2>All of your boards (Amount: {{ boardCount }})</h2>

  <div class="col" >
      <p class="boardContainer" *ngFor="let board of boards">
        {{ board }}
      </p>
  </div>

  <form>
    <input type="text" class="txt" name="item" placeholder="Life goal" [(ngModel)]="goalText">
    <input type="submit" class="btn" [value]="labelText" (click)="addItem()" >
    <p>{{ goalText }}</p>
  </form>
