<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-menu></app-menu>
</div>

<div class="boards-wrapper">
  <h2>All of your boards (Amount: {{ boardCount }})</h2>

  <div class="col" >
      <p class="boardContainer" *ngFor="let board of boards">
        {{ board }}
      </p>
  </div>

  <form>
    <input type="text" class="txt" name="item" placeholder="Life goal" [(ngModel)]="goalText">
    <input type="submit" class="btn" [value]="labelText" (click)="addItem()" >
    <p>{{ goalText }}</p>
  </form>
