$color-primary: #e1183a;
$color-secondary: rgba(202, 77, 42, .8);
$color-bg: #f0f8ff;
$color-bg--button: #f8f8ff;

$margin: 1rem;

$padding: 1rem;
$padding-large: $padding * 2;

$form-field-height: 3rem;

$grid-gutter-size: 1rem;
