<div class="main-nav">
  <div class="nav-left">
    <img class="main-logo" src="assets/img/logo.png">
  </div>
  <div class="nav-right">

    <button mat-fab color="white" [matMenuTriggerFor]="homeMenu">
      <mat-icon>home</mat-icon>
    </button>
    
    <mat-menu #homeMenu="matMenu">
      <button routerLink="/" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="calendar-board">
        <mat-icon>calendar_today</mat-icon>
        <span>Calendar</span>
      </button>
    </mat-menu>

    <button mat-fab color="white" [matMenuTriggerFor]="info">
      <mat-icon color="">info</mat-icon>
    </button>
    <mat-menu #info="matMenu">
      <button mat-menu-item (click)="showAboutDialog()">
        <mat-icon>insert_emoticon</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </div>
</div>
<mat-menu #subMenu="matMenu">
  <button mat-menu-item>General</button>
  <button mat-menu-item>Display</button>
  <button mat-menu-item>Profile˚</button>
</mat-menu>