.mat-card {
  background-color: #e1183a;
  width: auto;
  max-width: 100%;
  alignment: center;

}

.mat-icon-button {
  color: ghostwhite !important;
}

.mat-icon {
  color: #e1183a;

}

.mat-card-content {
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  alignment: center;
}

.mat-fab {
  margin: 6px;
  alignment: left;
  vertical-align: middle;
}
